<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Video Conference tinkering</h1>
      <p class="lead text-muted">Premium video now free for all.</p>
      <div class="d-flex">
        <button (click)="goToRoom()" class="btn btn-primary my-2"><i class="uil uil-video"></i>New Meeting</button>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter meeting ID" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Join</button>
        </div>
      </div>
    </div>
  </div>
</section>
